@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;700;900&family=Poppins:wght@400;500;700;900&display=swap");

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;*/

/* ------------------------- */
/* Menu de Navegacion */
/* ------------------------- */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 70;
  width: 100%;
  margin: 0;
  padding: 15px 5px;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li,
.nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #63656a;
  background-size: 100% 0.125rem;
  background-repeat: repeat-x;
  background-position: 0 3.4125ex;
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

.fas {
  letter-spacing: 5px;
}

.nav li.active {
  border-bottom: 2px solid orange;
}

.menu li a {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
}

.menu li.active a,
.menu li:hover a {
  color: orange;
}

.nav li:hover a {
  color: orange;
}

/* CABEZERA PRINCIPAL CONTACT*/

/* * ============================== */

.wrapperone_report {
  background-color: #000;
  height: 450px;
  display: flex;
}

.headerone_report {
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.headerone_announceone {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.headone_announce_report {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.headone_announce_report h3 {
  color: #333;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1.4;
  text-justify: auto;
  font-size: 40px;
}

.color_report {
  color: #333;
}

.headtwo_announce_report {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
}

.galeriaimg_report {
  padding: 0 10px 10px 0;
  position: relative;
  overflow: hidden;
}

.galeriaimg_report img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

/* CABEZERA PRINCIPAL*/

.headertwo_report {
  height: 200px;
  background-color: #e8dbbb;
  display: flex;
}

.headertwo_announceone {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 767px;
}

.headertwo_announceone p {
  text-align: center;
  color: #333;
  font-style: normal;
  font-size: 16px;
}

/* CABEZERA SECUNDARIA*/

/* FORM*/
.headerform__report {
  height: 35px;
  margin: 0;
  background-image: url(../media/pattern-edge-blue@2x.png);
}

.wrapper_report_form {
  background-color: #fff;
  margin: auto;
}

.principal__content_formreport {
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  background-color: #fff;
}

.head__form {
  margin: auto;
  min-height: 100px;
  width: 100%;
  height: 100%;
}

.head__form h4 {
  text-align: center;
}

.color__red {
  color: red;
  font-size: 18px;
}

.data__inform__input__report a {
  text-decoration: none;
  color: #2a4f91;
}

.data__inform__input__report a:hover {
  text-decoration: none;
  color: green;
}

.form__elements {
  padding-top: 10px;
  margin: auto;
  justify-content: center;
  max-height: 200px;
}

.form-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

form {
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}

.form-element span {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 5px;
  border-radius: 5px;
}

.radio-buttons label {
  margin: 0 0 10px 20px;
  cursor: pointer;
}

form button {
  width: 100%;
  padding: 10px;
  color: #333;
  background: hsl(51, 78%, 61%);
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

/* FORM*/

/* fORM*/
/*.wrappertwo__report{
    padding: 0;
    display: flex;
    background-color: #004B8B;
    margin: auto;
}

.form__report{
    min-height: 2030px;
    height: 100%;
    justify-content: center;
    margin: auto;
}

.form__report iframe{
    min-height: 2030px;
    height: 100%;
}*/

/* fORM*/

@media screen and (max-width: 800px) {
  .headerone_announceone .headone_announce_report h3 {
    font-size: 30px;
    text-align: center;
  }
  .color_report {
    text-align: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 450px) {
  .headertwo_report {
    height: 250px;
  }
}
